body {
  font-family: "Karla", sans-serif;
  width: 100%;
  margin: 0;
  background-color: #ecfdf5;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.header > h1::first-line {
  color: #2b283a;
  display: flex;
}

.header > h1 {
  color: rgba(16, 185, 129, 1);
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.header > p {
  font-size: 1.5rem;
  color: rgba(107, 114, 128, 1);
}

.input-area {
  display: inline;
  align-items: center;
  width: 50%;
  padding: 0;
}

.pw-length-input::placeholder {
  padding-left: 0.2em;
}

.pw-length-input {
  border-radius: 0.5em;
  padding: 0.3em 1em;
}

.input-area > button {
  border-radius: 0.5em;
  background-color: rgb(15, 186, 129);
  color: #ffffff;
  border: none;
  padding: 0.5em 1em;
}

.generate-pw {
  width: 60%;
  padding: 0.6em 0.3em;
  margin: 2em 0;
  border-radius: 0.5em;
  color: #ffffff;
  background-color: rgb(15, 186, 129);
  border: none;
}

.password-area {
  display: grid;
  grid-template-rows: minmax(70px, 1fr) minmax(70px, 1fr);
  grid-template-columns: minmax(70px, 1fr) minmax(70px, 1fr);
  justify-content: space-around;
}

.password-area > button {
  margin: 1em 1em;
  color: rgb(15, 186, 129);
  background-color: rgba(39, 53, 73, 1);
  border-radius: 0.5em;
  border: none;
}

button {
  cursor: pointer;
}

.copy-pw {
  display: flex;
  width: 100%;
  color: rgba(107, 114, 128, 1);
  justify-content: center;
}
